<div class="kz-d-flex kz-flex-vertical-center kz-gap--s kz-space-between">
    <div class="kz-d-flex kz-flex-horizontal-start kz-gap--l">
        <h5>Agregar Pacientes</h5>
    </div>
    <button class="kz-button kz-button--red kz-border-radius--l" [routerLink]="['/pacientes']"> Salir</button>
</div>
  
<form #formularioPaciente="ngForm">
    <h5 class="kz-d-flex kz-flex-horizontal-center">Crear Paciente</h5>
    <div class="kz-d-grid kz-col-t--2 kz-gap--xl">
      <div class="kz-mb--2">
        <label>Nombre:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.nombre" name="nombre" required minlength="3" #nombre="ngModel">
        <div *ngIf="nombre.invalid && nombre.touched">
            <small *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</small>
            <small *ngIf="nombre.errors?.['minlength']">Debe tener al menos 3 caracteres.</small>
        </div>
      </div>
      <div class="kz-mb--2">
        <label>Identidad:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.identidad" name="identidad" required pattern="[0-9]+" #identidad="ngModel">
        <div *ngIf="identidad.invalid && identidad.touched">
            <small *ngIf="identidad.errors?.['required']">La identidad es obligatoria.</small>
            <small *ngIf="identidad.errors?.['pattern']">Solo se permiten números.</small>
        </div>
      </div>
      <div class="kz-mb--2">
        <label>Teléfono / Celular:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.celular" name="celular" required pattern="^[0-9]{8,11}$" #celular="ngModel">
        <div *ngIf="celular.invalid && celular.touched">
            <small *ngIf="celular.errors?.['required']">El teléfono es obligatorio.</small>
            <small *ngIf="celular.errors?.['pattern']">Debe tener entre 8 y 10 dígitos.</small>
        </div>
      </div>
      <div class="kz-mb--2">
        <label>Correo:</label>
        <input type="email" class="kz-input" [(ngModel)]="paciente.correo" name="correo">
      </div>
      <div class="kz-mb--2">
        <label>Fecha Nacimiento:</label>
        <input type="date" class="kz-input" [(ngModel)]="paciente.fecha_nacimiento" name="fecha_nacimiento" required #fecha_nacimiento="ngModel">
        <div *ngIf="fecha_nacimiento.invalid && fecha_nacimiento.touched">
            <small>La fecha de nacimiento es obligatoria.</small>
        </div>
      </div>
      <div class="kz-mb--2">
        <label>RTN:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.RTN" name="RTN">
      </div>
      <div class="kz-mb--2">
        <label>Género:</label>
        <select class="kz-input" [(ngModel)]="paciente.genero" name="genero" [ngModelOptions]="{ standalone: true }" required #genero="ngModel">
            <option value="" selected>-- Selecciona una opción --</option>
            <option value="Masculino" class="kz-head--xs">Masculino</option> 
            <option value="Femenino" class="kz-head--xs">Femenino</option> 
        </select>
        <div *ngIf="genero.invalid && genero.touched">
            <small>El género es obligatorio.</small>
        </div>
      </div>
      <div class="kz-mb--2">
        <label>País:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.pais" name="pais">
      </div>
      <div class="kz-mb--2">
        <label>Departamento:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.departamento" name="departamento">
      </div>
      <div class="kz-mb--2">
        <label>Dirección:</label>
        <input type="text" class="kz-input" [(ngModel)]="paciente.direccion" name="direccion">
      </div>
    </div>
  
    <div class="kz-d-flex kz-flex-horizontal-end">
        <button class="kz-button kz-button--primary kz-ml--2" (click)="guardarEmpleado()">Guardar</button>
    </div>
</form>
  


      
          
      

