
<div class="kz-data-container mb-3">
    <div class="kz-info-column">
        <p class="kz-info-title">Nombre Completo:</p>
        <p>John Doe</p>
        <p class="kz-info-title">Género:</p>
        <p>Masculino</p>
        <p class="kz-info-title">Fecha de Nacimiento:</p>
        <p>08-09-1993</p>
        <p class="kz-info-title">Número de Teléfono:</p>
        <p>Masculino</p>
        <p class="kz-info-title">Antecedentes médicos personales:</p>
        <p>Lesión de dedo de mano</p>

    </div>
    <div class="kz-info-column">
        <p class="kz-info-title">DNI:</p>
        <p>12345678</p>
        <p class="kz-info-title">Edad:</p>
        <p>30 años</p>
        <p class="kz-info-title">Dirección de Residencia:</p>
        <p>Col. Centro America Este</p>
        <p class="kz-info-title">Correo:</p>
        <p>wlazo@prueba.com</p>
    </div>
</div>

<table class="kz-table">
  <thead class="kz-table__head">
    <tr>
      <th>Síntomas</th>
      <th>Fecha</th>
      <th>Informe</th>
    </tr>
  </thead>
  <tbody class="kz-table__body">
    <tr>
      <td>Dolor de Cabeza</td>
      <td>08-06-2021</td>
      <td>
        <a class="text-decoration-none kz-link" (click)="perfilNavigate()"> Ver Expediente</a>
      </td>
    </tr>
    <tr>
        <td>Dolor de Cabeza</td>
        <td>08-06-2021</td>
        <td>
          <a class="text-decoration-none kz-link" > Ver Expediente</a>
        </td>
      </tr>
      <tr>
        <td>Dolor de Cabeza</td>
        <td>08-06-2021</td>
        <td>
          <a class="text-decoration-none kz-link" > Ver Expediente</a>
        </td>
      </tr>
      <tr>
        <td>Dolor de Cabeza</td>
        <td>08-06-2021</td>
        <td>
          <a class="text-decoration-none kz-link" > Ver Expediente</a>
        </td>
      </tr>
  </tbody>
</table>