<div class="kz-d-flex kz-flex-horizontal-start kz-gap--l">
    <h5>Menú</h5>
 </div>
<div class="kz-d-grid kz-col-s4--5 kz-col-s3--4 kz-col-s2--3 kz-col-s1--2 kz-col-t--2 kz-col--1 kz-gap--xl kz-w--100 kz-mt--4">
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/citas']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/citas.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Citas</label>
    </div>  
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/empleados']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/empleados.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Empleados</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/dashboard']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/farmacia.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Farmacia</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/caja']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/caja.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Caja</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/pacientes']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/pacientes.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Pacientes</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/especialidades']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/especialidades.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Especialidades</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/inventario']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/inventario.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Inventario</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/compras']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/compras.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Compras</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/asistencia']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/asistencia.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Asistencia</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/ausencias']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/ausencia.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Ausencias</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/contactos']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/contactos.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Contactos</label>
    </div>
    <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" [routerLink]="['/configuraciones']">
        <img class="kz-img kz-img--xl" src="../assets/img/icons/configuraciones.png" alt="Card image cap">
        <label class="kz-txt--m kz-font-bold">Configuraciones</label>
    </div>
</div>  
