<table class="kz-table">
  <thead class="kz-table__head">
    <tr>
      <th>Tipo de Ausencia</th>
      <th>Fecha Inicialización</th>
      <th>Fecha Finalización</th>
      <th>Duración</th>
      <th>Descripción</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody class="kz-table__body">
    <tr>
      <td>Ausencia por Enfermedad</td>
      <td>10/10/2023</td>
      <td>12/10/2023</td>
      <td>20 Horas</td>
      <td>Cita con el doctor</td>
      <td>Aprobado</td>
      <td><span class="badge bg-success"><i class="bi bi-check"></i> Aprobada</span></td>
    </tr>
    <tr>
      <td>Ausencia por Enfermedad</td>
      <td>10/10/2023</td>
      <td>12/10/2023</td>
      <td>20 Horas</td>
      <td>Cita con el doctor</td>
      <td>Aprobado</td>
      <td><span class="badge bg-success"><i class="bi bi-check"></i> Aprobada</span></td>
      
    </tr>
    <tr>
      <td>Ausencia por Enfermedad</td>
      <td>10/10/2023</td>
      <td>12/10/2023</td>
      <td>20 Horas</td>
      <td>Cita con el doctor</td>
      <td>Aprobado</td>
      <td><span class="badge bg-success"><i class="bi bi-check"></i> Aprobada</span></td>
    </tr>
    <tr>
      <td>Ausencia por Enfermedad</td>
      <td>10/10/2023</td>
      <td>12/10/2023</td>
      <td>20 Horas</td>
      <td>Cita con el doctor</td>
      <td>Aprobado</td>
      <td><span class="badge bg-success"><i class="bi bi-check"></i> Aprobada</span></td>
    </tr>
  </tbody>
</table>
