@import 'responsive';
@import 'variables';
//// ** Contenedores generales **

.kz-main-container {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: #F2F7FA;
  height: 100vh;
    ::-webkit-scrollbar {
    display: none;
  }
}

.kz-wrapper{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  @include media(screen-1){
    width: calc(100% - 270px);
  }

  height: 100vh;
  margin-left: auto;
  display: block;
}

.kz-wrapper.collapsed {
  width: calc(100% - 75px) !important;
}

.kz-container-full{
  padding: 32px;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}
  

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
