@import 'variables';
@import 'responsive';

.kz-button{
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    font-family: $font-family;
    gap: 4px;
  }
  
  .kz-button--primary{
    background-color: $color-one;
    color: white;
    &:hover{
        background-color: $color-six;
        color: white;
    }
  }
  
  .kz-button--secondary{
    background-color: #aeafaf;
    color: white;
    &:hover{
        background-color: #8f8d8d;
        color: white;
    }
  }
  
  .kz-button--auxiliar{
    background-color: #198753;
    color: white;
    &:hover{
        background-color: #159f5e;
        color: white;
    }
  }
  
  .kz-button--cancel{
    background-color: $color-eigth;
    color: white;
    &:hover{
        background-color: $color-nine;
        color: white;
    }
  }
  
  .kz-button--warning{
    background-color: $color-eleven;
    color: white;
    &:hover{
        background-color: $color-twelve;
        color: white;
    }
  }

  .kz-button--sidebar{
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 8px;
    margin: 0 10px 5px 10px;
    align-items: center;
    width: 250px;
    gap: 8px;
    color: $color-eigth;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    font-family: $font-family;
    border: 2px solid $color-eigth;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $color-eigth;
      color: white;
    }
  }
  .kz-btn-text{
    display: flex;
    gap: 4px;
    font-family: $font-family;
    font-size: 16px;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
  
  .kz-btn-text--red{
    color: $color-eigth;
    &:hover{
      color : $color-nine;
    }
  }
  
  .kz-btn-notification{
    width: 2.6rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: #e9edee;
    }
    .kz-notification{
      position: relative;
      font-size: 1.6rem;
      &__circle{
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          position: absolute;
          top:3px;
          right: 4px;
          background-color: $color-eigth;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          color: white; 
      }  
    }
  }
  
  .kz-button--color{
    padding: 14px 18px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $font-family;
    &:hover{
      opacity: 0.8;
    }
  }

  .kz-btn-icon{
    border: 0;
    color: #6A6A6A;
    height: 2rem;
    width: 2rem;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
    border-radius: 100%;
    &:hover{
      color: $color-eigth;
      //color: white;
    }
  }
  
  .kz-btn-hamb{
    padding: 1px 8px;
    border-radius: 4px;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    color: $color-one;
    &:hover{
      background-color: #c7d8ee33;
    }
  }
  
  .kz-btn-radio--group{
    display: flex;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 12px;
    cursor: pointer;
    .kz-btn-radio__item{
        border-radius: 12px;
        font-size: 22px;
        position: relative;
        cursor: pointer;
        &:first-child{
            label{
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
            }
        }
        &:last-child{
            label{
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }
        }
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 10px;
            cursor: pointer;
            &:hover{
                color: $color-one;
            }
            i{
                color:$color-seven;
            }
            height: 100%;
            width: 100%;
        }
        input[type="radio"]{
          display: none;
          &:checked ~ label{
              background-color: $color-six;
              i{ color: white;}
          }
        }
    }
  }

  .kz-btn-collapse{
    display: block;
    font-size: 18px;
    color: $color-two;
    margin-top: 5px;
    &:hover{
      background-color: #E9EDEE;
      border-radius: 50%;
    }
    @include media(screen-1){
      display: none;
    }
  }
  
/*.radio{
   position: relative;
   margin-bottom: 20px; 
   display: flex; 
   align-items: center;
   .label-radio {
     position: relative;
     color: $color-two;
     font-family: $font-family;
     font-size: 15px;
     border: 2px solid $color-one;
     border-radius: 5px;
     padding: 5px 20px;
     display: flex;
     align-items: center;
     cursor: pointer;
     margin-right: 10px;
     &:before {
       content: "";
       height: 15px;
       width: 15px;
       border: 3px solid $color-one;
       border-radius: 50%;
       margin-right: 5px; 
       margin-left: 0px;
     }
   }
   
   input[type="radio"]:checked + .label-radio {
     background-color: $color-one;
     color: white;
     transition: width 0.5s ease, background-color 0.5s ease;
     &:before {
       height: 7px;
       width: 7px;
       border: 7px solid white;
       background-color: $color-one;
       transition: width 0.5s ease, background-color 0.5s ease;
     }
   }
}*/