@import 'variables';
@import 'responsive';

.kz-calendar-container {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  @include media(screen-3){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }
}

.kz-calendar {
    border-radius: 8px;
    box-shadow: 0px 0px 12px $box-shadow;
    padding: 16px;
    background-color: $white;
    width: 100%;
    @include media(screen-3){
      width: 60%;
    }
    .kz-header {
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      width: 800px;
      button {
        margin: 0 1rem;
      }
    }
    .kz-week-days {
      grid-gap: 0.5rem;
      justify-content: center;
      .week-day {
        padding: 0.5rem;
        font-weight: bold;
        text-align: center;
      }
    }
    .kz-days {
      grid-gap: 0.5rem;
      div {
        padding: 0.5rem;
        border: 1px solid $gray;
        cursor: pointer;
        border-radius: 15px;
        height: 80px;
        &.grayed-out {
          background-color: $white-soft;
          cursor: default;
          pointer-events: none;
        }
        &:hover{
          color: $white;
          background-color: $primary;
        }
        &.active{
          background-color: $primary;
          color: $white;
        }
      }
    }
}

.kz-sectioned-box {
  border-radius: 8px;
  box-shadow: 0px 0px 12px $box-shadow;
  padding: 16px;
  font-family: $font-family;
  width: 100%;
  @include media(screen-3){
    width: 40%;
  }
  background-color: $white;
  .kz-section {
    border-radius: 10px;
    height: auto;
    border: 1px solid $gray ;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    &:hover{
      background-color: #0F677A24;
    }
  }
}

.kz-day-disable {
  pointer-events: none;
  opacity: 0.5; 
  cursor: not-allowed; 
}

.kz-circle-day {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background-color: $white;
  font-size: 10px; 
  font-weight: bold;
  text-transform: uppercase;

  &.kz-green-day {
    background-color: $green;
    border: 1.5px solid $green-ligth;
    color: $white;
  }

  &.kz-white-day {
    background-color: $white;
    color: $gray-dark;
  }

  &.kz-current-day {
    border: 1.5px solid $primary;
    background-color: $auxiliar;
    color: $white;
  }
}