@import 'variables';
@import 'responsive';

  .kz-chip{
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    i {
      font-size: 12px;
      margin-right: 0.5rem;
    }
  }

  .kz-chip-estado-archivar {
    padding: 4px 8px;
    background-color: $red-dark;
    color: $white;
    border-radius: 4px;
    font-size: 16px;
    font-family: $font-family;
  }

  .kz-chip-estado-green{
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 22px;
    background-color: transparent;
    color: $green-ligth;
    font-weight: bold;
  }
  
  .kz-chip-estado-red{
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 22px;
    background-color: transparent;
    color: $red-ligth;
    font-weight: bold;
  }
  
  .kz-chip--blue{
    color: $primary;
  }
  
  .kz-chip--yellow{
    color: $yellow;
  }
  
  .kz-chip--green{
    color: $green-ligth;
  }

  .kz-chip--red{
    color: $red-ligth;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .kz-error-text {
    color: $txt-red;
    background-color: transparent;  
    border: none;
    margin-top: 5px;
  }
  
  .kz-is-invalid {
    border-color: $txt-red !important;
  }
  
  
  
