@import 'variables';
@import 'responsive';


.kz-calendar {
    border-radius: 8px;
    box-shadow: 0px 0px 12px #c6c6c6;
    padding: 16px;
    background-color: #fff;
    .header {
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      width: 800px;
      button {
        margin: 0 1rem;
      }
    }
    .week-days {
      grid-gap: 0.5rem;
      justify-content: center;
      .week-day {
        padding: 0.5rem;
        font-weight: bold;
        text-align: center;
      }
    }
    .days {
      grid-gap: 0.5rem;
      div {
        padding: 0.5rem;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 15px;
        height: 80px;
        &.grayed-out {
          background-color: $color-ten;
          cursor: default;
          pointer-events: none;
        }
        &:hover{
          color: white;
          background-color: $color-one;
        }
        &.active{
          background-color: $color-one;
          color: white;
        }
      }
    }
}

.kz-calendar-container {
    font-family: $font-family;
    display: block;
    width: 100%;
    @include media(screen-3){
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
    }
  }

  .sectioned-box {
    border-radius: 8px;
    box-shadow: 0px 0px 12px #c6c6c6;
    padding: 16px;
    font-family: $font-family;
    width: 100%;
    background-color: #fff;
    .section {
      border-radius: 10px;
      height: auto;
      border: 1px solid #ccc ;
      padding: 16px;
      width: 100%;
      cursor: pointer;
      &:hover{
        background-color: rgb(15 103 122 / 14%);
      }
    }
  }