@import "variables";
@import "responsive";

.kz-card {
  display: block;
  padding: 16px;
  box-shadow: 0px 0px 12px $box-shadow-ligth;
  border-radius: 8px;
  font-family: $font-family;
  background-color: $white;
  &__body {
    display: flex;
  }
  &__footer {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    border-top: 1px solid $gray-ligth;
    gap: 10px;
    justify-content: center;
  }
}

.kz-card--clickable {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 12px $box-shadow-black;
  }
}

//card simple
.kz-card--simple {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 500px;
  margin: auto;
  padding: 32px;
  background-color: $white;
  box-shadow: 0 2px 5px $box-shadow-black-ligth;
  border-radius: 16px;
  .kz-btn-state {
    box-shadow: 0 2px 5px $box-shadow-black-ligth;
    background-color: $white-soft;
    color: $secondary;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    @include media(mobile-small){
      width: 160px;
    }
    height: 150px;
    border-radius: 16px;
    border: solid 5px;
    &:hover{
      opacity: 0.8;
    }
    &--change{
      background-color: $white-soft;
      color: $green;
    }
  }
}
