@import 'variables';
@import 'responsive';


.kz-card{
    display: block;
    padding: 16px;
    box-shadow: 0px 0px 12px #E5E5E5;
    border-radius: 8px;
    font-family: $font-family;
    background-color: white;
    &__body{
      display: flex;
    }
    &__footer {
      padding-top: 10px;
      margin-top: 10px;
      display: flex;
      border-top: 1px solid rgb(194, 194, 194); 
      gap: 10px;
      justify-content: center;
    }
  }

  .kz-card--clickable{
    cursor: pointer;
    &:hover{
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    }
}
  