@import 'variables';
@import 'responsive';

.kz-cal-ausencia {
    border-radius: 8px;
    box-shadow: 0px 0px 12px #c6c6c6;
    padding: 8px;
    .header {
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      width: 100%;
      button {
        margin: 0 1rem;
      }
    }
    .month-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .month {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 12px #c6c6c6;
        h2 {
          margin-top: 0;
        }
  
        .week-days {
          grid-gap: 0.5rem;
          justify-content: center;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
  
          .week-day {
            padding: 0.5rem;
            font-weight: bold;
            text-align: center;
          }
        }
  
        .days {
          grid-gap: 0.5rem;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
  
          div {
            padding: 0.5rem;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 15px;
            height: 40px;
            &.grayed-out {
              background-color: $color-ten;
              cursor: default;
              pointer-events: none;
            }
            &:hover{
              color: white;
              background-color: $color-one;
            }
            &.active{
              background-color: $color-one;
              color: white;
            }
          }
        }
      }
    }
  }