@import 'variables';
@import 'responsive';

  .kz-chip{
    font-family: $font-family;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    i {
      font-size: 12px;
      margin-right: 0.5rem;
    }
  }

  .kz-chip-estado-archivar {
    padding: 4px 8px;
    background-color: $red-dark;
    color: $white;
    border-radius: 4px;
    font-size: 16px;
    font-family: $font-family;
  }

  .kz-chip-estado-green{
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 22px;
    background-color: transparent;
    color: $green-ligth;
    font-weight: bold;
  }
  
  .kz-chip-estado-red{
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 22px;
    background-color: transparent;
    color: $red-ligth;
    font-weight: bold;
  }
  
  .kz-chip--blue{
    color: $primary;
  }
  
  .kz-chip--yellow{
    color: $yellow;
  }
  
  .kz-chip--green{
    color: $green-ligth;
  }

  .kz-chip--red{
    color: $red-ligth;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .kz-error-text {
    color: $txt-red;
    background-color: transparent;  
    border: none;
    margin-top: 5px;
  }
  
  .kz-is-invalid {
    border-color: $txt-red !important;
  }
  
  .kz-chip-color-gray{
    padding: 14px 18px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font-family;
    background-color: $gray;
  }

  .kz-chip-color-primary{
    padding: 14px 18px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font-family;
    background-color: $primary;
  }

  .kz-chip-color-auxiliar{
    padding: 14px 18px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font-family;
    background-color: $auxiliar;
  }

  .kz-chip-color-green{
    padding: 14px 18px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font-family;
    background-color: $green;
  }
  
  .kz-chip-estado {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .kz-chip-estado-gray {
    background-color: $gray-state-bg;
    color: $gray-dark;
  }
  
  .kz-chip-estado-red {
    background-color: $red-state-bg;
    color: $red-ligth;
  }
  
  .kz-chip-estado-green {
    background-color: $green-state-bg;
    color: $green-state-color;
  }
  
  .kz-chip-estado-blue {
    background-color: $blue-state-bg;
    color: $blue-state-color;
  }

  .kz-chip-estado-yellow {
    background-color: #fff8e1; 
    color: #ff9800;            
  }