@import 'variables';
@import 'responsive';

.kz-form-column {
  background-color: transparent;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  font-family: $font-family;
  .list-patient{
    height: 200px;
  }
}

.kz-info-container {
  font-family: $font-family;
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray;
  padding: 0;
  max-width: auto;
  margin: 0;
  box-shadow: 0 0 10px $box-shadow-black-ligth;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  .kz-info-column {
    flex: 1;
    padding: 5px;
    transform: scaleY(0);
  }
  .kz-info-title {
    font-weight: bold;
  }
}

.kz-info-container.expanded {
  max-height: 500px;
  padding: 20px;
  margin: 10px 0; 
  .kz-info-column {
    flex: 1;
    padding: 5px;
    transform: scaleY(1); 
  }
  .kz-info-title {
    font-weight: bold;
  }
}

.kz-data-container {
  font-family: $font-family;
  display: flex;
  justify-content: space-between;
  font-family: $font-family;
  border-radius: 16px;
  padding: 10px;
  max-width: auto;
  margin: 0 auto;
  box-shadow: 0 0 10px $box-shadow-black-ligth;
  background-color: $white;
  .kz-info-column {
    flex: 1;
    padding: 5px;
  }
  .kz-info-title {
    font-weight: bold;
  }
}
