@import 'variables';
@import 'responsive';

.modal-content{
    border: 0 !important;
    border-radius: 12px !important;
    .modal-header{
        background-color: $secondary;
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
        width: 100%;
        .modal-title{
            color: $white;
        }
    }
}
.kz-btn-close{
    padding: 4px 8px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: $white;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    &:hover{
        background-color: #7aa7be99;
    }
}