@import 'variables';
@import 'responsive';

.kz-nav{
  background-color: #fff;
  height: auto;
  width: 100%;
  transition: width 0.5s ease;
  display: flex;
  padding: 18px 24px;
  box-shadow: 0 5px 5px rgb(230, 230, 230);
  align-items: center;
  z-index: 2;
  font-family: $font-family;
  position: sticky;
  top: 0;
  &__item {
      display:flex;
      align-items: center;
      margin-left: auto;
      gap:12px;
      i {
          font-size: 2rem;
      }
      span {
          font-size: 20px;
          font-weight: 600;
      }
  }
}

.kz-dropdown-usr {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
  padding: 10px 10px 10px 0;
  a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: $color-eigth;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    &:hover {
      background-color: #f5f5f5;
      border-radius: 8px;
    }
  }
}

.kz-dropdown-noti {
  position: absolute;
  top: 100%;
  left: -230px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  width: 270px;
  padding: 10px 10px 10px 0;
  overflow: scroll;
  height: 300px;
  a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #333;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    &:hover {
      background-color: #f5f5f5;
      border-radius: 8px;
    }
  }
}
  
.kz-user{
  display: none;
  position: relative;
  @include media(screen-1){
    display: block;
  }
}