@import 'variables';
@import 'responsive';

.kz-specialty-select {
    .ng-select {
      border-radius: 12px;
      border: 2px solid $gray;
      padding: 8px;
      width: 300px;
      @include media(screen-1){
        width: 400px;
      } 
      .ng-dropdown-panel {
        padding: 16px;
        background-color: $white;
        box-shadow: 0px 0px 16px $box-shadow;
        border-radius: 12px; 
        position: absolute;
        left: 0;
        top: 3.8rem;
        .scroll-host{
          height: auto;
          max-height: 300px !important;
          overflow-y: auto !important;
          &::-webkit-scrollbar:vertical{
            display: block !important;
            width: 10px !important;
          }
          &::-webkit-scrollbar-track:vertical{
            border-radius: 4px !important;
            background-color: $blue-scroll !important;
            width: 10px !important;
          }
          &::-webkit-scrollbar-thumb:vertical{
            border-radius: 4px !important;
            background-color: $primary !important;
            width: 10px !important;
          }
          &::-webkit-scrollbar-button{
            border-radius: 6px !important;
            background-color: $blue-scroll !important;
            display: none;
          }
          .ng-option{
            margin-bottom: 4px;
            padding: 8px 12px;
            border-radius: 14px;
            &:hover{
              background-color: $blue-hover;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .option-image {
        width: 40px; 
        height: 40px; 
        margin-right: 8px;
      }
      .ng-clear-wrapper{
        width: 20px !important;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
        &:hover{
          color: $primary;
        }
      }
    }
  }