@import '~@fortawesome/fontawesome-free/css/all.css';  
@import 'variables';
@import 'responsive';

  .kz-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: white;
    width: 270px;
    height: 100vh;
    border-right: solid 1px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    transition: width 0.5s ease, background-color 0.5s ease;
    @media (max-width: 768px) {
      width: 0;
    }
    z-index: 4;
    &__content {
      margin: 0;
      max-height: 100vh;
      overflow: auto;
      transition: width 0.5s ease, padding 0.5s ease;
      width: 100%;
      padding:0;
      &::-webkit-scrollbar {
        width: 0px;
      }
      li {
        list-style: none;
        border-radius: 4px;
        a {
            display: flex;
            align-items: center;
            padding: 8px 18px;
            border-radius: 8px;
            margin: 0 10px 5px 10px;
            text-decoration: none;
            align-items: center;
            gap: 8px;
            color: $color-seven;
            font-size: 18px;
            white-space: nowrap;  
            &:hover {
              background-color: $color-three;
              color: white;
            }
          }
        &.active {
          border-left: solid 4px $color-two;
          a {
            background-color: $color-two;
            color: white;
            margin-left: 8px;
          }
        }
      }
      .kz-sidebar--subItem{
        &.active {
          border-left: solid 4px $color-two;
          a{
            background-color: transparent;
            color:$color-two;
          }
        }
      }
    }

    &-subItems {
      max-height: 0; 
      margin-top: 0; 
      opacity: 1; 
      transition: max-height 1s ease,  opacity 0.5s ease;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
      &.open {
        max-height: 300px;
        margin-top: 10px;
        opacity: 1;
        transition: max-height 2s ease,  opacity 1s ease;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .kz-caret-icon {
      font-size: 0.8rem;
      transition: transform 0.5s ease;
      margin-left: auto;
      color: white;
      &.rotate {
        transform: rotate(180deg);
        transition: transform 0.5s ease;
        color: white;
      }
    }
    &__logo {
      padding: 14px 16px;
      margin: 0 0 24px;
      border-bottom: solid 1px rgb(212, 212, 212);
      display: flex;
      justify-content: left;
      align-items: center;
      transition: justify-content 0.5s ease;
      .kz-sidebar-logo {
        width: 43px;
        height: auto;
      }
      label {
        font-family: $font-famil-logo;
        color: $color-two;
      }
    }
    /*&__footer {
      display: none;
      @include media(screen-1){
        display: flex;
      }
      position: relative;
      margin: auto 0 0 0 !important;
      padding: 8px 24px;
      border-top: solid 1px rgb(212, 212, 212);
      justify-content: flex-end;
      li {
        list-style: none;
      }
    }*/
    &-toggle {
      display: none;
      @include media(screen-1){
        display: block;
      }
      padding: 2px 8px;
      border: 1px solid rgb(183, 183, 183);
      border-radius: 4px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      &:hover{
        background-color: #c7d8ee33;
      }
      transition: transform 0.5s;
      i {font-size: 1.3rem;
        color: $color-one;}
    }
    &.collapsed {
      transition: width 0.5s ease, background-color 0.5s ease;
      width: 0;
    }
  }

  //Clase para colapsar un sidebar, a uno pequeño
  /*.collapsed {
    transition: width 0.5s ease, background-color 0.5s ease;
    .kz-logo-text{
      display: none;}
    .kz-sidebar{
      width: 75px;
      &__content {
        span{opacity: 0;}
        .kz-sidebar--subItem{
          pointer-events: none;
          &.active {
            border-left: initial;
            a {background-color: initial;
              color:initial;}}
          a {&:hover {
              background-color: initial;
              color: initial;}}
        }
      }
      &-subItems {
        max-height: 0; 
        margin-top: 0; 
        opacity: 1; 
        transition: max-height 1s ease,  opacity 0.5s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
      }
      &__logo {
        .kz-sidebar-logo{
          width: 43px;
        }
      }
      .kz-sidebar__footer{
        justify-content: flex-end;
      }
    }
  }*/