@import 'variables';
@import 'responsive';

.kz-tabs {
  .kz-tab-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $gray-soft;
    text-align: center;
    .kz-tab {
      display: inline-block;
      padding: 14px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: $font-family;
      text-align: center;
      &:hover{
        color: $primary;
      }
      &.active {
        color: $cyan;
        border-bottom: 3px solid $cyan;
      }
    }
  }
  .kz-tab-content {
    padding: 10px;
    margin-top: 10px;
    
    .kz-tab-panel {
      display: none;
      
      &.active {
        display: block;
      }
    }
  }
}