@import "variables";
@import "responsive";

.kz-angle-icon {
  font-size: 1.2rem;
  transition: transform 0.8s ease;
  margin-left: auto;
  color: black;
  &.rotate {
    transform: rotate(180deg);
    transition: transform 0.8s ease;
    color: black;
  }
}

.kz-error-text {
  color: red;
  background-color: transparent;  
  border: none;
}

.kz-is-invalid {
  border-color: red !important;
}

.kz-chip-estado-green{
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: transparent;
  color: $color-thirteen;
  font-weight: bold;
}

.kz-chip-estado-red{
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: transparent;
  color: $color-eigth;
  font-weight: bold;
}
