@import "variables";
@import "responsive";

.kz-angle-icon {
  font-size: 1.2rem;
  transition: transform 0.8s ease;
  margin-left: auto;
  color: black;
  &.rotate {
    transform: rotate(180deg);
    transition: transform 0.8s ease;
    color: black;
  }
}

.kz-error-text {
  color: red;
  background-color: transparent;  // Esto hará que el fondo sea transparente
  border: none;  // Elimina el borde si lo hubiera
}

.kz-is-invalid {
  border-color: red !important;  // Cambia el color del borde a rojo
}
