@import 'variables';
@import 'responsive';


.kz-angle-icon {
    font-size: 1.2rem;
    transition: transform 0.8s ease;
    margin-left: auto;
    color: black;
    &.rotate {
      transform: rotate(180deg);
      transition: transform 0.8s ease;
      color: black;
    }
  }

  .kz-asistencia {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    
    .kz-btn-asistencia {
      justify-content: center;
      button {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: white;
        color: $color-two;
        font-size: 50px;
        font-weight: bold;
        cursor: pointer;
        width: 40%;
        height: 150px;
        border-radius: 16px;
        border: solid 5px;
      }
    }
  
}





