@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';
//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// Colors
$primary: #3e81e3;
$secondary: #0f86c1;
$auxiliar: #0f86c1c7;
$cyan: #39ace7;
$gray-dark: #6A6A6A;
$gray-ligth: #aeafaf;
$gray-ligth-hover: #8f8d8d;
$white: #fff;
$black: #000;
$red-ligth: #D72E2E;
$red-ligth-hover: #F25959;
$white-soft: #f2f2f2;
$yellow-soft: #FBC337;
$yellow-soft-hover: #caa41d;
$green-ligth: #198754;
$green-ligth-hover: #159f5e;

$txt-primary: #6A6A6A;

$font-family: "Poppins", sans-serif;
$font-famil-logo: "Playpen Sans", cursive;