@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';
//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// Colors
$color-one: #3e81e3;
$color-two: #0f86c1;
$color-three: #0f86c1c7;
$color-six: #39ace7;
$color-seven: #6A6A6A;
$color-eigth: rgb(215, 46, 46);
$color-nine: rgb(242, 89, 89);
$color-ten: #f2f2f2;
$color-eleven: #FBC337;
$color-twelve: #caa41d;

$txt-primary: #6A6A6A;
$txt-secondary: #6A6A6A;
$gray-1:rgb(183, 183, 183);

$font-family: "Poppins", sans-serif;