<section class="kz-sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <ul class="kz-sidebar__content">
        <ul class="kz-sidebar__logo"> 
            <div class="kz-d-flex kz-space-between kz-flex-vertical-center">
                <img class="kz-sidebar-logo" [src]="imagePath" type="image/x-icon">
                <label class="kz-txt--primary kz-txt--xl kz-logo-text kz-white-space">reizer Clinicas</label>
            </div>    
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/empleados']" (click)="onOptionClick('empleados')">
                <i class="fa-solid fa-user-nurse"></i>
                <span>
                    Empleados
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'empleados'}"></i>
            </a> 
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'empleados'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/empleados/crear']"> 
                    <span>
                        Crear Empleado
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/empleados/lista']"> 
                    <span>
                        Lista Empleadoss
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <span>
                        Horario
                    </span>
                </a> 
            </li>
            <li>
                <a>
                    <span>
                        Planilla
                    </span>
                </a>
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/pacientes']" (click)="onOptionClick('pacientes')">
                <i class="fa-solid fa-user-injured"></i>
                <span>
                    Pacientes
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'pacientes'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'pacientes'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/pacientes/crear']"> 
                    <span>
                        Crear Pacientes
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/pacientes/lista']"> 
                    <span>
                        Lista Pacientes
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/asistencias-admin']" (click)="onOptionClick('asistencias-admin')">
                <i class="bi bi-calendar-check-fill"></i>
                <span>
                    Asistencias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'asistencias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'asistencias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/asistencias-admin/panel']">
                    <span>
                        Panel Asistencias
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/ausencias-admin']" (click)="onOptionClick('ausencias-admin')">
                <i class="bi bi-calendar2-x-fill"></i>
                <span>
                    Ausencias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'ausencias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'ausencias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/ausencias-admin/panel']">
                    <span>
                        Panel Ausencias
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/ambulancias-admin']" (click)="onOptionClick('ambulancias-admin')">
                <i class="bi bi-truck"></i>
                <span>
                    Ambulancias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'ambulancias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'ambulancias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/ambulancias-admin/crear']"> 
                    <span>
                        Crear Ambulancias
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/ambulancias-admin/lista']">
                    <span>
                        Lista Ambulancias
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/sala-medica-admin']" (click)="onOptionClick('sala-medica-admin')">
                <i class="bi bi-clipboard2-pulse-fill"></i>
                <span>
                    Sala Médica
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'sala-medica-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/sala-medica-admin/crear']"> 
                    <span>
                        Crear Sala Médica
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/sala-medica-admin/lista']">
                    <span>
                        Salas Médica
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/especialidades']" (click)="onOptionClick('especialidades')">
                <i class="bi bi-hospital-fill"></i>
                <span>
                    Especialidades
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'especialidades'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/especialidades/crear']"> 
                    <span>
                        Crear Especialidad
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/especialidades/lista']">
                    <span>
                        Lista Especialidades
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/configuraciones']" (click)="onOptionClick('configuraciones')">
                <i class="bi bi-gear-fill"></i>
                <span>
                    Configuración
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'configuraciones'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/configuraciones/inicio']"> 
                    <span>
                        Inicio Menú
                    </span>
                </a>
            </li>
        </ul>
        <div class="kz-mt--5">
            <button class="kz-button--sidebar" [routerLink]="['/inicio']">
                <i class="bi bi-arrow-bar-left"></i> Salir Administración
            </button>
        </div>
        
    </ul>
</section>
