<section class="kz-sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <ul class="kz-sidebar__content">
        <ul class="kz-sidebar__logo"> 
            <div class="kz-d-flex kz-space-between kz-flex-vertical-center">
                <img class="kz-sidebar-logo" [src]="imagePath" type="image/x-icon">
                <label class="kz-txt--primary kz-txt--xl kz-logo-text kz-white-space">reizer Clinicas</label>
            </div>    
        </ul>

        <div class="kz-mb--4">
            <button class="kz-button--sidebar" [routerLink]="['/inicio']">
                <i class="bi bi-arrow-bar-left"></i> Salir Administración
            </button>
        </div>

        <li routerLinkActive="active">
            <a [routerLink]="['/pacientes']" (click)="onOptionClick('pacientes')">
                <i class="fa-solid fa-user-injured"></i>
                <span>
                    Pacientes
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'pacientes'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'pacientes'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/pacientes/crear']"> 
                    <span>
                        Crear Pacientes
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" [class.active]="pacientesListaAdmin">
                <a [routerLink]="['/pacientes/lista']"> 
                    <span>
                        Lista Pacientes
                    </span>
                </a> 
            </li>
        </ul>
      
        <li routerLinkActive="active">
            <a [routerLink]="['/ambulancias-admin']" (click)="onOptionClick('ambulancias-admin')">
                <i class="bi bi-truck"></i>
                <span>
                    Ambulancias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'ambulancias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'ambulancias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/ambulancias-admin/crear']"> 
                    <span>
                        Crear Ambulancias
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" [class.active]="ambulanciasListaAdmin">
                <a [routerLink]="['/ambulancias-admin/lista']">
                    <span>
                        Lista Ambulancias
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/sala-medica-admin']" (click)="onOptionClick('sala-medica-admin')">
                <i class="bi bi-clipboard2-pulse-fill"></i>
                <span>
                    Sala Médica
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'sala-medica-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/sala-medica-admin/crear']"> 
                    <span>
                        Crear Sala Médica
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" [class.active]="salaMedicaListaAdmin">
                <a [routerLink]="['/sala-medica-admin/lista']">
                    <span>
                        Salas Médica
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/especialidades']" (click)="onOptionClick('especialidades')">
                <i class="bi bi-hospital-fill"></i>
                <span>
                    Especialidades
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'especialidades'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/especialidades/crear']"> 
                    <span>
                        Crear Especialidad
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/especialidades/lista']">
                    <span>
                        Lista Especialidades
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/configuraciones']" (click)="onOptionClick('configuraciones')">
                <i class="bi bi-gear-fill"></i>
                <span>
                    Configuración
                </span>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'configuraciones'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/configuraciones/inicio']"> 
                    <span>
                        Inicio Menú
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/configuraciones/departamentos']"> 
                    <span>
                        Departamento
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/configuraciones/puestos-laborales']"> 
                    <span>
                        Puesto Laboral
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/configuraciones/horarios']"> 
                    <span>
                        Horarios
                    </span>
                </a>
            </li>
        </ul>
    </ul>
</section>
