<div class="kz-d-flex kz-flex-vertical-center kz-flex-horizontal-center kz-gap--l kz-mb--4">
    <div class="kz-input--icon kz-w--40">
      <input class="kz-input" type="text" placeholder="Buscar Médico">
      <i class="bi bi-search"></i>
    </div>
</div>

<div class="kz-d-grid kz-col-s5--4 kz-col-s3--3 kz-col-s2--2 kz-col-s1--2 kz-col-t--2 kz-col--1 kz-gap--xl kz-mt--4">
    <div class="kz-card">
      <div class="kz-card__body">
        <div class="kz-d-flex kz-flex-vertical-center kz-gap--l">
          <img class="kz-img kz-img--circle kz-img--l" src="../assets/img/icons/user.png" alt="Card image cap">
          <div class="kz-d-flex kz-dir-vertical">
            <label class="kz-txt--m kz-font-bold">Nombre Doctor</label>
            <label class="kz-txt--s kz-mt--1">Nombre Especialidad</label> 
            <span class="badge bg-success"><i class="bi bi-check"></i> Activo</span>
          </div>
        </div>
      </div>
      <div class="kz-card__footer">
        <button class="kz-button kz-button--primary kz-border-radius--l" (click)="salaEsperaNavigate()"><i class="bi bi-pencil-square"></i> Abrir Sesión</button>        
      </div>
    </div>

   
</div>

<div class="container">

</div>
