<div class="kz-d-flex kz-flex-vertical-center kz-gap--s kz-space-between">
    <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
      <h5>Detalles Empleado</h5>
      <div *ngIf="empleado.estado === 'Inactivo'" class="kz-chip-estado-archivar">
        <span class="">Archivado</span>
      </div>  
    </div>
    <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
      <button class="kz-btn-text kz-btn-text--red" (click)="desarchivar()">
        <i class="bi bi-archive-fill "></i>
        <span> <b>Archivar</b> </span>
      </button>
      <button class="kz-button kz-button--cancel kz-border-radius--l ml--2" [routerLink]="['/empleados/archivados']">Salir</button>
    </div>
  </div>
  
  <div class="kz-tabs">
    <ul class="kz-tab-list">
      <li class="kz-tab" [class.active]="tabActiva == 'infoPersonal'" (click)="tabActiva = 'infoPersonal'">Información Personal</li>
      <li class="kz-tab" [class.active]="tabActiva == 'infoLaboral'" (click)="tabActiva = 'infoLaboral'">Información Laboral</li>
      <li class="kz-tab" [class.active]="tabActiva == 'configRRHH'" (click)="tabActiva = 'configRRHH'">Configuración RRHH</li>
    </ul>

  </div>
  

  
  