<div class="kz-d-flex kz-flex-vertical-center kz-gap--s kz-space-between kz-mb-3">
    <div class="kz-d-flex kz-flex-horizontal-start kz-gap--l">
      <h5>Expediente Paciente</h5>
    </div>
    <button class="kz-button kz-button--cancel kz-border-radius--l kz-mb--2" [routerLink]="['/portal-medico/expedientes']"> Salir</button>
</div>

<div class="kz-data-container mb-3">
    <div class="kz-info-column">
        <p class="kz-info-title">Nombre Completo:</p>
        <p>John Doe</p>
        <p class="kz-info-title">Doctor:</p>
        <p>Wesly Lazo</p> 
    </div>
    <div class="kz-info-column">
        <p class="kz-info-title">Edad:</p>
        <p>30 años</p>
        <p class="kz-info-title">Fecha Consulta:</p>
        <p>08-09-1993</p>
    </div>
</div>

<table class="kz-table-info">
    <tr>
        <td class="kz-col-gray">Síntomas</td>
        <td class="kz-col-white">Dolor de tobillo</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Duración</td>
        <td class="kz-col-white">3 Semanas</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Intensidad</td>
        <td class="kz-col-white">Grave</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Historial Enfermedad Actual (HAE)</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Comienzo de los Síntomas</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Tratamiento Previo</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Peso</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Altura</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Presion Arterial</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Temperatura</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Revisiones diferentes del cuerpo</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Análisis de Sangre</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Estudios de Imágenes</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Otro Exámenes</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Historial de Vacunas</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Dieta</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Ejercicio</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Tabaquismo</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Consumo de Alcohol</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Otras Sustancias</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
    <tr>
        <td class="kz-col-gray">Salud Mental</td>
        <td class="kz-col-white">Ninguna</td>
    </tr>
</table>
