<div class="kz-d-flex kz-flex-vertical-center kz-flex-horizontal-center kz-gap--l kz-mb--4">
    <div class="kz-input--icon kz-w--40">
      <input class="kz-input" type="text" placeholder="Buscar">
      <i class="bi bi-search"></i>
    </div>
</div>

<table class="kz-table">
    <thead class="kz-table__head">
      <tr>
        <th>Empleado</th>
        <th>Tipo de Ausencia</th>
        <th>Desde:</th>
        <th>Hasta:</th>
        <th>Horas:</th>
        <th>Días</th>
        <th>Descripción</th>
        <th>Archivo</th>
      </tr>
    </thead>
    <tbody class="kz-table__body">
      <tr>
        <td>Juan Moncada</td>
        <td>Por enfermedad</td>
        <td>25/10/2023</td>
        <td>27/10/2023</td>
        <td>16</td>
        <td>2</td>
        <td>Cita con el doctor</td>
        <td class="kz-d-flex kz-gap--l"> <button class="kz-button kz-button--primary kz-border-radius--l ml--2"> Aprobar</button>
          <button class="kz-button kz-button--cancel kz-border-radius--l ml--2"> Rechazar</button>
        </td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>Por enfermedad</td>
        <td>25/10/2023</td>
        <td>27/10/2023</td>
        <td>16</td>
        <td>2</td>
        <td>Cita con el doctor</td>
        <td class="kz-d-flex kz-gap--l"> <button class="kz-button kz-button--primary kz-border-radius--l ml--2"> Aprobar</button>
          <button class="kz-button kz-button--cancel kz-border-radius--l ml--2"> Rechazar</button>
        </td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>Por enfermedad</td>
        <td>25/10/2023</td>
        <td>27/10/2023</td>
        <td>16</td>
        <td>2</td>
        <td>Cita con el doctor</td>
        <td class="kz-d-flex kz-gap--l"> <button class="kz-button kz-button--primary kz-border-radius--l ml--2"> Aprobar</button>
          <button class="kz-button kz-button--cancel kz-border-radius--l ml--2"> Rechazar</button>
        </td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>Por enfermedad</td>
        <td>25/10/2023</td>
        <td>27/10/2023</td>
        <td>16</td>
        <td>2</td>
        <td>Cita con el doctor</td>
        <td class="kz-d-flex kz-gap--l"> <button class="kz-button kz-button--primary kz-border-radius--l ml--2"> Aprobar</button>
          <button class="kz-button kz-button--cancel kz-border-radius--l ml--2"> Rechazar</button>
        </td>
      </tr>
    </tbody>
</table>