<div class="kz-d-flex kz-flex-vertical-center kz-gap--s kz-space-between">
  <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
    <h5>Detalles Empleado</h5>
    <div *ngIf="empleado.estado === 'Inactivo'" class="kz-chip-estado-archivar">
      <span class="">Archivado</span>
    </div>  
  </div>
  <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
    <button class="kz-btn-text kz-btn-text--red" (click)="archivar()">
      <i class="bi bi-archive-fill "></i>
      <span> <b>Archivar</b> </span>
    </button>
    <button class="kz-button kz-button--cancel kz-border-radius--l ml--2" [routerLink]="['/empleados/lista']">Salir</button>
  </div>
</div>

<div class="kz-tabs">
  <ul class="kz-tab-list">
    <li class="kz-tab" [class.active]="tabActiva == 'infoPersonal'" (click)="tabActiva = 'infoPersonal'">Información Personal</li>
    <li class="kz-tab" [class.active]="tabActiva == 'infoLaboral'" (click)="tabActiva = 'infoLaboral'">Información Laboral</li>
    <li class="kz-tab" [class.active]="tabActiva == 'configRRHH'" (click)="tabActiva = 'configRRHH'">Configuración RRHH</li>
  </ul>

  <!--Información Personal-->
  <div class="kz-tab-content">
    <div class="kz-tab-panel" [class.active]="tabActiva == 'infoPersonal'">
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Nombre:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.nombre">
        </div>
        <div class="kz-mb--2">
          <label>Identidad:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.identidad">
        </div>
        <div class="kz-mb--2">
          <label>Celular:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.celular">
        </div>
        <div class="kz-mb--2">
          <label>Genero:</label>
          <select class="kz-input" [(ngModel)]="empleado.genero">
              <option value="" selected>-- Selecciona una opción --</option>
              <option value="Masculino" class="kz-head--xs">Masculino</option> 
              <option value="Femenino" class="kz-head--xs">Femenino</option> 
          </select>
        </div>
        <div class="kz-mb--2">
          <label>Nombre Contacto de Emergencia:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.nombre_contacto_emergencia">
        </div>
        <div class="kz-mb--2">
          <label>Cónyugue:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.conyugue">
        </div>
        <div class="kz-mb--2">
          <label>Nacionalidad:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.nacionalidad">
        </div>
        <div class="kz-mb--2">
          <label>Nivel de certificado:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.nivel_certificado">
        </div>
        <div class="kz-mb--2">
          <label>Escuela superior:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.escuela_superior">
        </div>
        <div class="kz-mb--2">
          <label>Escuela:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.escuela">
        </div>
        <div class="kz-mb--2">
          <label>Departamento:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.departamento">
        </div>
      </div>
    
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Apellidos:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.apellidos">
        </div>
        <div class="kz-mb--2">
          <label>Fecha de nacimiento:</label>
          <input type="date" class="kz-input" [(ngModel)]="empleado.fecha_nacimiento">
        </div>
        <div class="kz-mb--2">
          <label>Correo:</label>
          <input type="email" class="kz-input" [(ngModel)]="empleado.correo">
        </div>
        <div class="kz-mb--2">
          <label>Celular de Emergencias:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.celular_emergencias">
        </div>
        <div class="kz-mb--2">
          <label>Estado Civil:</label>
          <select class="kz-input" [(ngModel)]="empleado.estado_civil">
            <option value="" selected>-- Selecciona una opción --</option>
            <option value="Casado">Casado(a)</option> 
            <option value="Soltero">Soltero(a)</option> 
          </select>
        </div>
        <div class="kz-mb--2">
          <label>Número de hijos:</label>
          <input type="number" class="kz-input" [(ngModel)]="empleado.numero_hijos">
        </div>
        <div class="kz-mb--2">
          <label>Idiomas:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.idiomas">
        </div>
        <div class="kz-mb--2">
          <label>Campo de Estudio:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.campo_estudio">
        </div>
        <div class="kz-mb--2">
          <label>Escuela Media:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.escuela_media">
        </div>
        <div class="kz-mb--2">
          <label>País:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.pais">
        </div>
        <div class="kz-mb--2">
          <label>Dirección:</label>
          <textarea type="" class="kz-input" [(ngModel)]="empleado.direccion"></textarea>
        </div>
      </div>
    </div>

    <!--Información Laboral-->
    <div class="kz-tab-panel" [class.active]="tabActiva == 'infoLaboral'">
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Celular Laboral:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.celular_laboral">
        </div>
        <div class="kz-mb--2">
          <label>Departamento:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.departamento">
        </div>
        <div class="kz-mb--2">
          <label>Dirección Laboral:</label>
          <textarea class="kz-input" [(ngModel)]="empleado.direccion_laboral"></textarea>
        </div>
      </div>
    
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Correo Laboral:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.correo_laboral">
        </div>
        <div class="kz-mb--2">
          <label>Jefe Inmediato:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.jefe_inmediato">
        </div>
        <div class="kz-mb--2">
          <label>Aprobador:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.aprobador">
        </div>
      </div>
    </div>

    <!--Configuración RRHH-->
    <div class="kz-tab-panel" [class.active]="tabActiva == 'configRRHH'">
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Fecha de Ingreso:</label>
          <input type="date" class="kz-input" [(ngModel)]="empleado.fecha_ingreso">
        </div>
        <div class="kz-mb--2">
          <label>Puesto Laboral:</label>
          <select class="kz-input" [(ngModel)]="empleado.idPue">
            <option *ngFor="let puesto of puestos" [value]="puesto.idPue" class="kz-head--xs">{{puesto.nombre}}</option>
          </select>
        </div>
        
        <div class="kz-mb--2">
          <label>Id de Credencial:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.id_credencial">
        </div>
       
        <div class="kz-mb--2">
          <label>Imagen:</label>
          <div class="kz-form--img">
            <img src="{{empleado.imagen}}" class="kz-img kz-img--l kz-border-blue kz-img-upload"/>
            <div class="kz-actions">
              <div class="kz-edit-action">
                <label for="file-input">
                  <i class="bi bi-pencil"></i>
                </label>
                <input id="file-input" type="file" />
              </div>
              <div class="kz-delete-action">
                <i class="bi bi-trash"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Salario:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.salario">
        </div>
        <div class="kz-mb--2">
          <label>PIN:</label>
          <input type="text" class="kz-input" [(ngModel)]="empleado.PIN">
        </div>
        <div class="kz-mb--2">
          <label>Contraseña:</label>
          <button class="kz-button kz-button--primary" (click)="modalPassword(ModalPassword)">Cambiar Contraseña</button>
        </div>
      </div>
    </div>
    <div class="kz-d-flex kz-flex-horizontal-end">
      <button class="kz-button kz-button--primary kz-ml--2" (click)="actualizarEmpleado(empleado)">Guardar</button>
    </div>
  </div>
</div>


<ng-template #ModalPassword let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Cambiar Contraseña</h5>
        <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="guardarContrasena">
        <div class="kz-form-column">
          <div class="kz-mb--2">
            <label>Contraseña:</label>
            <input type="password" class="kz-input" [ngClass]="{'kz-is-invalid':obt.contrasena.invalid && (obt.contrasena.dirty || obt.contrasena.touched)}" formControlName="contrasena" required>
            <div *ngIf="guardarContrasena.controls.contrasena.invalid && guardarContrasena.controls.contrasena.touched" class="kz-error-text mt-2">
              * El tamaño mínimo es de 8 caracteres
            </div>
          </div>
        </div>
        <div class="kz-form-column">
          <div class="kz-mb--2">
            <label>Confirmar Contraseña:</label>
            <input type="password" class="kz-input" [ngClass]="{'kz-is-invalid':obt.conContrasena.invalid && (obt.conContrasena.dirty || obt.conContrasena.touched)}" formControlName="conContrasena" required>
            <div *ngIf="obt.conContrasena.invalid && (obt.conContrasena.dirty || obt.conContrasena.touched)" class="kz-error-text mt-2">
              * Por favor, ingresa una contraseña válida
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <div class="modal-footer">
      <button class="kz-button kz-button--primary kz-border-radius--l" [disabled]="guardarContrasena.invalid" 
      (click)="guardarPassword()">Guardar
      </button>
      <button class="kz-button kz-button--cancel kz-border-radius--l" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>

