<div class="kz-d-flex kz-flex-vertical-center kz-flex-horizontal-center kz-gap--l kz-mb--4">
    <div class="kz-input--icon kz-w--40">
      <input class="kz-input" type="text" placeholder="Buscar">
      <i class="bi bi-search"></i>
    </div>
</div>

<div class="kz-table-content">
  <table class="kz-table">
    <thead class="kz-table__head">
      <tr>
        <th>Empleado</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th>Horas Trabajadas</th>
      </tr>
    </thead>
    <tbody class="kz-table__body">
      <tr *ngFor="let asistencia of asistencias">
        <td>{{asistencia.nombreEmpleado}}</td>
        <td>{{asistencia.entrada}}</td>
        <td>{{asistencia.salida}}</td>
        <td>{{asistencia.horas_trabajadas}}</td>
        <td class="kz-d-flex kz-gap--s"> 
          <button class="kz-button kz-button--primary kz-border-radius--l" (click)="modalEditar(editarModal, asistencia)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #editarModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Asistencias</h5>
        <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <div class="modal-body">
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Nombre:</label>
          <input class="kz-input" [(ngModel)]="asistenciaModal.nombreEmpleado" readonly>
        </div>
        <div class="kz-mb--2">
          <label>Entrada:</label>
          <input type="datetime" class="kz-input" [(ngModel)]="asistenciaModal.entrada">
        </div>
      </div>
      <div class="kz-form-column">
        <div class="kz-mb--2">
          <label>Horas Trabajadas:</label>
          <input type="text" class="kz-input" [(ngModel)]="asistenciaModal.horas_trabajadas" readonly>
        </div>
        <div class="kz-mb--2">
          <label>Salida:</label>
          <input type="datetime" class="kz-input" [(ngModel)]="asistenciaModal.salida">
          <div *ngIf="errorFecha" class="kz-error-text">{{errorFecha}}</div>
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <button class="kz-button kz-button--primary kz-border-radius--l" (click)="actualizarAsistencia()">Guardar</button>
      <button class="kz-button kz-button--cancel kz-border-radius--l" (click)="modal.close()">Cancelar</button>
    </div>
  </div>
</ng-template>