<div class="kz-gap--l kz-mb--2">
    <button class="kz-button kz-button--primary kz-border-radius--l" (click)="guardarModal(ModalCrear)">Crear</button>
</div>

<div class="kz-table-content">
    <table class="kz-table">
        <thead class="kz-table__head">
            <tr>
                <th>Especialidad</th>
                <th>Médico</th>
                <th>Horario Inicio</th>
                <th>Horario Fin</th>
                <th>Días</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="kz-table__body">
            <tr *ngFor="let horario of horarios">
                <td>{{horario.especialidad}}</td>
                <td>{{horario.empleado ? horario.empleado : 'Sin asignar'}}</td>
                <td>{{horario.hora_inicio}}</td>
                <td>{{horario.hora_final}}</td>
                <td>
                    <button class="kz-button kz-button--primary kz-border-radius--l" (click)="mostrarDias(ModalDias, horario)">Ver</button>
                </td>
                <td class="kz-d-flex kz-gap--l">
                    <button class="kz-button kz-button--primary kz-border-radius--l" (click)="editarModal(ModalEditar, horario)">Editar</button>
                    <button class="kz-button kz-button--red kz-border-radius--l" (click)="modalDelete(horario)"> <i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #ModalCrear let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Horarios</h5>
            <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
              <i class="bi bi-x-lg"></i>
            </button>
        </div>
    
        <div class="modal-body">
            <form [formGroup]="registroHorario">
                <div class="kz-d-grid kz-col-t--2 kz-gap--xl">
                    <div class="kz-mb--2">
                        <label>Especialidad:</label>
                        <select class="kz-input" [ngClass]="{'kz-error-invalid':hor.idEsp.invalid && (hor.idEsp.dirty || hor.idEsp.touched)}" formControlName="idEsp" required>
                            <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEsp" class="kz-head--xs">{{especialidad.nombre}}</option>
                        </select>                 
                        <div *ngIf="hor.idEsp.invalid && (hor.idEsp.dirty || hor.idEsp.touched)" class="kz-error-text mt-2">
                            * Por favor, ingresa una especialidad válida
                        </div>
                    </div>
                    <div class="kz-mb--2">
                        <label>Médico:</label>
                        <select class="kz-input" [ngClass]="{'kz-error-invalid':hor.idEmp.invalid && (hor.idEmp.dirty || hor.idEmp.touched)}" formControlName="idEmp" required>
                            <option *ngFor="let empleado of empleados" [value]="empleado.idEmp" class="kz-head--xs">{{empleado.nombre}} {{empleado.apellidos}}</option>
                        </select>
                        <div *ngIf="hor.idEmp.invalid && (hor.idEmp.dirty || hor.idEmp.touched)" class="kz-error-text mt-2">
                            * Por favor, ingresa un médico valido
                        </div>
                    </div>
                    <div class="kz-mb--2">
                        <label>Horario Inicio:</label>
                        <select class="kz-input" formControlName="hora_inicio">
                            <option *ngFor="let hora of horasDia" [value]="hora" class="kz-head--xs">{{ hora }}</option>
                        </select>
                    </div>
                    <div class="kz-mb--2">
                        <label>Horario Fin:</label>
                        <select class="kz-input" formControlName="hora_final">
                            <option *ngFor="let hora of horasDia" [value]="hora" class="kz-head--xs">{{ hora }}</option>
                        </select>
                    </div>

                    <div class="kz-mb--2">
                        <label>Días:</label>
                        <div class="kz-d-grid kz-col--2 kz-col-s2--3 kz-gap--m">
                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="lunes" formControlName="lun">
                                    <label for="lunes"></label>
                                </div>
                                <label>Lunes</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="martes" formControlName="mar">
                                    <label for="martes"></label>
                                </div>
                                <label>Martes</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="miercoles" formControlName="mie">
                                    <label for="miercoles"></label>
                                </div>
                                <label>Miércoles</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="jueves" formControlName="jue">
                                    <label for="jueves"></label>
                                </div>
                                <label>Jueves</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="viernes" formControlName="vie">
                                    <label for="viernes"></label>
                                </div>
                                <label>Viernes</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="sabado" formControlName="sab">
                                    <label for="sabado"></label>
                                </div>
                                <label>Sábado</label>
                            </div>

                            <div class="kz-d-flex kz-gap--s">
                                <div class="kz-checkbox">
                                    <input type="checkbox" id="domingo" formControlName="dom">
                                    <label for="domingo"></label>
                                </div>
                                <label>Domingo</label>       
                            </div>

                        </div>
                   </div>
                    <div class="kz-mb--2">
                        <label>Estado:</label>
                        <label class="kz-switch kz-switch--text">
                            <input type="checkbox" formControlName="estado" [ngClass]="{'kz-error-invalid':hor.estado.invalid && (hor.estado.dirty || hor.estado.touched)}" required>
                            <span class="kz-slider"></span>
                            <span class="kz-switch-text">{{ hor.estado.value ? 'ON' : 'OFF' }}</span>
                        </label>
                        <div *ngIf="hor.estado.invalid && (hor.estado.dirty || hor.estado.touched)" class="kz-error-text mt-2">
                            * Por favor, ingresa un "Estado" válido
                        </div>
                    </div>
                </div>
            </form>
        </div>
      
        <div class="modal-footer">
            <button class="kz-button kz-button--primary kz-border-radius--l" [disabled]="registroHorario.invalid" 
            (click)="guardarHorario()">Guardar</button>
            <button class="kz-button kz-button--red kz-border-radius--l" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>


<ng-template #ModalEditar let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Horarios</h5>
            <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
              <i class="bi bi-x-lg"></i>
            </button>
        </div>
  
        <div class="modal-body">
            <div class="kz-d-grid kz-col-t--2 kz-gap--xl">
                <div class="kz-mb--2">
                    <label>Especialidad:</label>
                    <select class="kz-input" [(ngModel)]="horarioModal.idEsp">
                        <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEsp" class="kz-head--xs">{{especialidad.nombre}}</option>
                    </select>
                </div>
                <div class="kz-mb--2">
                    <label>Médico:</label>
                    <select class="kz-input" [(ngModel)]="horarioModal.idEmp">
                        <option *ngFor="let empleado of empleados" [value]="empleado.idEmp" class="kz-head--xs">{{empleado.nombre}} {{empleado.apellidos}}</option>
                    </select>
                </div>
                <div class="kz-mb--2">
                    <label>Horario Inicio:</label>
                    <input type="text" class="kz-input" [(ngModel)]="horarioModal.hora_inicio">
                </div>
                <div class="kz-mb--2">
                    <label>Horario Fin:</label>
                    <input type="text" class="kz-input" [(ngModel)]="horarioModal.hora_final">
                </div>
                <div class="kz-mb--2">
                    <label>Días:</label>
                    <div class="kz-d-grid kz-col--2 kz-col-s2--3 kz-gap--m">
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="lunes" [(ngModel)]="horarioModal.lun">
                                <label for="lunes"></label>
                            </div>
                            <label>Lunes</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="martes" [(ngModel)]="horarioModal.mar">
                                <label for="martes"></label>
                            </div>
                            <label>Martes</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="miercoles" [(ngModel)]="horarioModal.mie">
                                <label for="miercoles"></label>
                            </div>
                            <label>Miércoles</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="jueves" [(ngModel)]="horarioModal.jue">
                                <label for="jueves"></label>
                            </div>
                            <label>Jueves</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="viernes" [(ngModel)]="horarioModal.vie">
                                <label for="viernes"></label>
                            </div>
                            <label>Viernes</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="sabado" [(ngModel)]="horarioModal.sab">
                                <label for="sabado"></label>
                            </div>
                            <label>Sábado</label>
                        </div>
                        <div class="kz-d-flex kz-gap--s">
                            <div class="kz-checkbox">
                                <input type="checkbox" id="domingo" [(ngModel)]="horarioModal.dom">
                                <label for="domingo"></label>
                            </div>
                            <label>Domingo</label>       
                        </div>
                    </div>
               </div>
                <div class="kz-mb--2 kz-mx--auto">
                    <label>Estado:</label>
                    <label class="kz-switch">
                        <input type="checkbox" [(ngModel)]="horarioModal.estado">
                        <span class="kz-slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="kz-button kz-button--primary kz-border-radius--l" (click)="actualizarHorario(horarioModal)">Guardar</button>
            <button class="kz-button kz-button--red kz-border-radius--l" (click)="modal.close()">Cancelar</button>
        </div>
    </div>
</ng-template>


<ng-template #ModalDias let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Días</h5>
            <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
              <i class="bi bi-x-lg"></i>
            </button>
        </div>
  
        <div class="modal-body">
            <div class="kz-d-flex kz-space-between kz-txt--m kz-font-w--500 kz-mb--1">
                <label>{{horarioDia.especialidad}}</label>
                <div>
                    <label>{{horarioDia.hora_inicio}} - </label>
                    <label>{{horarioDia.hora_final}}</label>
                </div>
                <label>{{horarioDia.empleado}}</label>
            </div>
            <div class="kz-d-flex">
              <div *ngFor="let dia of diasSemana" class="kz-m--1 kz-p--1 kz-mx--auto kz-border" [ngClass]="{'kz-bg--green kz-txt--white': horarioDia[dia]}">{{nombreDia(dia)}}</div>
            </div>
        </div>
    </div>
</ng-template>