<div class="kz-d-flex kz-flex-vertical-center kz-gap--s kz-space-between">
    <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
      <h5>Detalles Sala Médica</h5>
    </div>
    <div class="kz-d-flex kz-flex-vertical-center kz-gap--xl">
      <button class="kz-button kz-button--red kz-border-radius--l ml--2" [routerLink]="['/sala-medica-admin/lista']">Salir</button>
    </div>
</div>
  
  <div class="kz-d-grid kz-col-t--2 kz-gap--xl">
    <div class="kz-mb--2">
      <label>Empleado (Médico):</label>
      <select class="kz-input" [(ngModel)]="salaMedica.idEmp" required>
        <option value="">-- Selecciona un Médico --</option>
        <option *ngFor="let medico of medicos" [value]="medico.idEmp">{{ medico.nombre }} {{ medico.apellidos }}</option>
      </select>
    </div>
  
    <div class="kz-mb--2">
      <label>Especialidad:</label>
      <select class="kz-input" [(ngModel)]="salaMedica.idEsp" required>
        <option value="">-- Selecciona una Especialidad --</option>
        <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEsp">{{ especialidad.nombre }}</option>
      </select>
    </div>
  
    <div class="kz-mb--2 kz-mr--auto">
        <label>Estado:</label>
        <label class="kz-switch">
            <input type="checkbox" [(ngModel)]="salaMedica.estado">
            <span class="kz-slider"></span>
        </label>
    </div>
  </div>
  
  <div class="kz-d-flex kz-flex-horizontal-end">
    <button class="kz-button kz-button--primary ml--2" (click)="actualizarSesion(salaMedica)">Guardar</button>
  </div>
  