<table class="kz-table">
    <thead class="kz-table__head">
      <tr>
        <th>Empleado</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th>Horas Trabajadas</th>
      </tr>
    </thead>
    <tbody class="kz-table__body">
      <tr>
        <td>Juan Moncada</td>
        <td>25/10/2023 08:50:09</td>
        <td>25/10/2023 18:20:59</td>
        <td>08:55</td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>25/10/2023 08:50:09</td>
        <td>25/10/2023 18:20:59</td>
        <td>08:55</td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>25/10/2023 08:50:09</td>
        <td>25/10/2023 18:20:59</td>
        <td>08:55</td>
      </tr>
      <tr>
        <td>Juan Moncada</td>
        <td>25/10/2023 08:50:09</td>
        <td>25/10/2023 18:20:59</td>
        <td>08:55</td>
      </tr>
    </tbody>
</table>