<div class="kz-d-flex kz-flex-horizontal-start kz-gap--l">
  <h5>Crear Cita</h5>
</div>
<div class="kz-d-grid kz-col-s4--5 kz-col-s3--4 kz-col-s2--3 kz-col-s1--2 kz-col-t--2 kz-col-small--1 kz-gap--xl kz-mt--4">
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/medicinaGeneral.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Medicina General</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/pediatria.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Pediatría</label>
 </div> 
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/neurologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Neurología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/dermatologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Dermatología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/otologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Otología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/oftalmologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Oftalmología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/rinologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Rinología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/dentista.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Dentista</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/cardiologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Cardiología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/hepatologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Hepatología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/radiologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Radiología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/neumologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Neumología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/gastroenterologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Gastroenterología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/urologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Urología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/cirugiaPlastica.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Cirugía Plastica</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/ortopedia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Ortopedia</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/ginecologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Ginecología</label>
 </div>
 <div class="kz-card kz-card--clickable kz-d-flex kz-dir-vertical kz-flex-vertical-center kz-gap--s" (click)="navigateToDisponibilidad()">
   <img class="kz-img kz-img--xl" src="../assets/img/especialidades/hermatologia.png" alt="Card image cap">
   <label class="kz-txt--m kz-font-bold">Hermatología</label>
 </div>
</div>  

