<div class="kz-cal-ausencia">
    <div class="kz-header kz-d-flex kz-flex-horizontal-center kz-flex-vertical-center kz-gap--m kz-my--2">
        <button class="kz-button kz-button--primary kz-border-radius--l" (click)="changeYear(-1)">Año anterior</button>
        <h3>{{ currentYear }}</h3>
        <button class="kz-button kz-button--primary kz-border-radius--l" (click)="changeYear(1)">Año siguiente</button>
    </div>
    <div class="kz-d-grid kz-col-s5--4 kz-col-s4--3 kz-col-s3--3 kz-col-s2--2 kz-col-s1--1 kz-col-t--2 kz-col--1 kz-gap--l month-row "> 
        <div class="month" *ngFor="let month of months; let i = index">
            <h2>{{ month }}</h2>
            <div class="week-days kz-d-grid kz-col--7">
                <div *ngFor="let day of weekDays" class="week-day">{{ day }}</div>
            </div>
        
            <div class="days kz-d-grid kz-col--7">
                <div *ngFor="let day of calendarDays[i]; let j = index" 
                [ngClass]="{ 'active': (isToday(day) || selectedDay === day) && day, 'grayed-out': !day }"
                (click)="selectDay(day); openModal(Modalcrear)">
                  {{ day | date:'d' }}
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #Modalcrear let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Crear Cita</h5>
                <button type="button" class="kz-btn-close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
                    <i class="bi bi-x-lg"></i>
                </button>
        </div>
        <div class="modal-body">
            <div class="kz-mb--2">
                <label>Tipo de Ausencia:</label>
                <select class="kz-input" required>
                    <option value="" selected>-- Selecciona una opción --</option>
                    <option value="opcion1">Ausencia por enfermedad</option> 
                    <option value="opcion1">Ausencia Pagada</option> 
                    <option value="opcion1">Ausencia No Pagada</option>
                    <option value="opcion1">Vacaciones</option> 
              </select>
            </div>
            <div class="kz-mb--2">
                <label>Fechas:</label>
                <input type="text" class="kz-input" >
            </div>
            <div class="kz-mb--2">
                <label>Horas:</label>
                <input type="text" class="kz-input" >
            </div>
            <div class="kz-mb--2">
                <label>Descripción:</label>
                <textarea type="text" class="kz-input"></textarea>
            </div>
            <div class="kz-mb--2">
                <label>Archivo Adjunto:</label>
                <input type="file" class="kz-input" >
            </div>
        </div>
    </div>
</ng-template>