<div class="kz-d-flex kz-flex-vertical-center kz-flex-horizontal-center kz-gap--l kz-mb--4">
    <div class="input--icon kz-w--40">
      <input class="kz-input" type="text" placeholder="Buscar">
      <i class="bi bi-search"></i>
    </div>
    <button class="kz-button kz-button--primary" [routerLink]="['/pacientes/crear']">Agregar Paciente</button>
    
    <div class="kz-btn-radio--group">
      <div class="kz-btn-radio__item" (click)="btnActivo = 'kamba'">
        <input type="radio" id="grid" name="view" checked>
        <label for="grid">
          <i class="bi bi-grid"></i>
        </label>
      </div>
      <div class="kz-btn-radio__item" (click)="btnActivo = 'list'">
        <input type="radio" id="list" name="view" atr="1">
        <label for="list">
          <i class="bi bi-list-ul"></i>
        </label>
      </div>
    </div>
  </div>
        
      <!--Cards--> 
  <div class="kz-kamba" [class.active]="btnActivo == 'kamba'">
    <div class="kz-d-grid kz-col-s3--3 kz-col-s2--2 kz-col-s1--2 kz-col-t--2 kz-col--1 kz-gap--xl kz-mt--4">
      <div class="card__body kz-dir-vertical">
        <div class="kz-d-flex kz-flex-vertical-center kz-gap--l">
          <img class="kz-img kz-img--circle kz-img--l" src="../assets/img/icons/user.png" alt="Card image cap">
          <div class="kz-d-flex kz-dir-vertical">
            <label class="kz-txt--m kz-font-bold">Wesly Lazo</label>
            <label class="kz-txt--s kz-mt--1">Analista de Software</label> 
            <label class="kz-txt--s kz-mt--1">wesly_lazo@company.io</label>
            <label class="txt--s mt--1">90862930</label>
          </div>
        </div>
        <div class="card__separator"></div>
        <div class="card__botton d-flex">
          <button class="kz-button kz-button--primary border-radius--l" [routerLink]="['/pacientes/detalles']"><i class="bi bi-pencil-square"></i> Editar</button>
          <button class="kz-button kz-button--cancel border-radius--l"><i class="bi bi-trash-fill"></i> Eliminar</button>
        </div>
      </div>
    
      <div class="card__body dir-vertical">
        <div class="d-flex flex-vertical-center gap--l">
          <img class="kz-img kz-img--circle kz-img--l" src="../assets/img/icons/user.png" alt="Card image cap">
          <div class="d-flex dir-vertical">
            <label class="txt--m font-bold">Wesly Lazo</label>
            <label class="txt--s mt--1">Analista de Software</label> 
            <label class="txt--s mt--1">wesly_lazo@company.io</label>
            <label class="txt--s mt--1">90862930</label>
          </div>
        </div>
        <div class="card__separator"></div>
        <div class="card__botton d-flex">
          <button class="kz-button kz-button--primary border-radius--l" [routerLink]="['/pacientes/detalles']"><i class="bi bi-pencil-square"></i> Editar</button>
          <button class="kz-button kz-button--cancel border-radius--l"><i class="bi bi-trash-fill"></i> Eliminar</button>
        </div>
      </div>
    
      <div class="card__body dir-vertical">
        <div class="d-flex flex-vertical-center gap--l">
          <img class="kz-img kz-img--circle kz-img--l" src="../assets/img/icons/user.png" alt="Card image cap">
          <div class="d-flex dir-vertical">
            <label class="txt--m font-bold">Wesly Lazo</label>
            <label class="txt--s mt--1">Analista de Software</label> 
            <label class="txt--s mt--1">wesly_lazo@company.io</label>
            <label class="txt--s mt--1">90862930</label>
          </div>
        </div>
        <div class="card__separator"></div>
        <div class="card__botton d-flex">
          <button class="kz-button kz-button--primary border-radius--l" [routerLink]="['/pacientes/detalles']"><i class="bi bi-pencil-square"></i> Editar</button>
          <button class="kz-button kz-button--cancel border-radius--l"><i class="bi bi-trash-fill"></i> Eliminar</button>
        </div>
      </div>
    
      <div class="card__body dir-vertical">
        <div class="d-flex flex-vertical-center gap--l">
          <img class="kz-img kz-img--circle kz-img--l" src="../assets/img/icons/user.png" alt="Card image cap">
          <div class="d-flex dir-vertical">
            <label class="txt--m font-bold">Wesly Lazo</label>
            <label class="txt--s mt--1">Analista de Software</label> 
            <label class="txt--s mt--1">wesly_lazo@company.io</label>
            <label class="txt--s mt--1">90862930</label>
          </div>
        </div>
        <div class="card__separator"></div>
        <div class="card__botton d-flex">
          <button class="kz-button kz-button--primary border-radius--l" [routerLink]="['/pacientes/detalles']"><i class="bi bi-pencil-square"></i> Editar</button>
          <button class="kz-button kz-button--cancel border-radius--l"><i class="bi bi-trash-fill"></i> Eliminar</button>
        </div>
      </div>
    </div>
  </div>
    
       
  <div class="kz-table-content" [class.active]="btnActivo == 'list'">
    <table class="kz-table">
      <thead class="kz-table__head">
        <tr>
          <th>Empleado</th>
          <th>Puesto Laboral</th>
          <th>Departamento</th>
          <th>Correo</th>
          <th>Número de Celular</th>
          <th>Detalles del Empleado</th>
        </tr>
      </thead>
      <tbody class="kz-table__body">
        <tr>
          <td>John Doe</td>
          <td>Análista Desarrollador</td>
          <td>Ingeniería</td>
          <td>john@company.io</td>
          <td>256739393</td>
          <td>
            <a [routerLink]="['/pacientes/detalles']" class="kz-text-decoration-none kz-link"> ver detalles</a>
          </td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Análista Desarrollador</td>
          <td>Ingeniería</td>
          <td>john@company.io</td>
          <td>256739393</td>
          <td>
            <a [routerLink]="['/pacientes/detalles']" class="kz-text-decoration-none kz-link"> ver detalles</a>
          </td>
        </tr>
        <tr>
          <td>Mark Johnson</td>
          <td>Análista Desarrollador</td>
          <td>Ingeniería</td>
          <td>john@company.io</td>
          <td>256739393</td>
          <td>
            <a [routerLink]="['/pacientes/detalles']" class="kz-text-decoration-none kz-link"> ver detalles</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  