<div class="kz-nav">
  <button class="kz-btn-hamb" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  <div class="kz-nav__item">
    <div class="kz-position-rel" (click)="toggleDropdownNoti()">
      <button class="kz-btn-notification">
        <i class="bi bi-bell kz-notification"></i>
        <div class="kz-notification__circle">7</div>
      </button>
      <div *ngIf="isDropdownNoti" class="kz-dropdown-noti kz-flex-horizontal-center">
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
        <div class="kz-ml--1">
          <div class="kz-txt--m kz-font-bold">Notificacion 1</div>
          <div class="kz-txt--s kz-mt--1">Para habilitar el desplazamiento en un elemento en CSS, 
            se puede utilizar la propiedad overflow.</div>
          <div class="kz-txt--s kz-font-bold kz-txt--blue kz-mb--1 kz-border-bottom-gray">Fecha</div>
        </div>
      </div>
    </div>
    
    <div class="kz-user kz-pl--2 kz-border-left-gray kz-pointer" (click)="toggleDropdown()">
      <img 
      src="../assets/img/linkend.png" class="kz-img kz-img--circle kz-img--sm kz-border-blue"/>
      <span> Wesly Lazo </span>
      <div *ngIf="isDropdownOpen" class="kz-dropdown-usr d-flex kz-flex-vertical-center">
        <a href="#"><i class="bi bi-box-arrow-left"></i> Cerrar Sesión</a>
      </div>
    </div>
    
  </div>
</div>
