<div class="kz-nav">
    <div class="kz-nav__item">
      <button class="kz-btn-notification">
        <i class="bi bi-bell kz-notification"></i>
          <div class="kz-notification__circle">7</div>
      </button>
      <button class="kz-btn-hamb" (click)="toggleSidebar()">
        <i class="bi bi-list"></i>
      </button>
      <div class="kz-user kz-pl--2 kz-border-left-gray">
        <img 
        src="../assets/img/linkend.png" class="kz-img kz-img--circle kz-img--sm kz-border-blue"/>
        <span> Wesly Lazo </span>
      </div>
    </div>
</div>
