<section class="kz-sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <ul class="kz-sidebar__content">
        <ul class="kz-sidebar__logo"> 
            <div class="kz-d-flex kz-space-between kz-flex-vertical-center">
                <img class="kz-sidebar-logo" [src]="imagePath" type="image/x-icon">
                <label class="kz-txt--primary kz-txt--xl kz-logo-text kz-white-space">reizer Clinicas</label>
            </div>    
        </ul>

        <div class="kz-mb--4">
            <button class="kz-button--sidebar" [routerLink]="['/inicio']">
                <i class="bi bi-arrow-bar-left"></i> Salir R.R.H.H.
            </button>
        </div>

        <li routerLinkActive="active">
            <a [routerLink]="['/empleados']" (click)="onOptionClick('empleados')">
                <i class="bi bi-person-fill"></i>
                <span>
                    Empleados
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'empleados'}"></i>
            </a> 
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'empleados'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/empleados/crear']"> 
                    <span>
                        Crear Empleado
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" [class.active]="empleadosLista">
                <a [routerLink]="['/empleados/lista']"> 
                    <span>
                        Lista Empleados
                    </span>
                </a>
            </li>
            <li class="kz-sidebar--subItem" [class.active]="empleadosArchivados">
                <a [routerLink]="['/empleados/archivados']"> 
                    <span>
                        Archivados
                    </span>
                </a>
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/asistencias-admin']" (click)="onOptionClick('asistencias-admin')">
                <i class="bi bi-calendar-check-fill"></i>
                <span>
                    Asistencias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'asistencias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'asistencias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/asistencias-admin/panel']">
                    <span>
                        Panel Asistencias
                    </span>
                </a> 
            </li>
        </ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/ausencias-admin']" (click)="onOptionClick('ausencias-admin')">
                <i class="bi bi-calendar2-x-fill"></i>
                <span>
                    Ausencias
                </span>
                <i class="bi bi-caret-down-fill kz-caret-icon" [ngClass]="{'rotate': selectedOption === 'ausencias-admin'}"></i>
            </a>
        </li>
        <ul [ngClass]="{'kz-sidebar-subItems': true, 'open': selectedOption === 'ausencias-admin'}">
            <li class="kz-sidebar--subItem" routerLinkActive="active">
                <a [routerLink]="['/ausencias-admin/panel']">
                    <span>
                        Panel Ausencias
                    </span>
                </a> 
            </li>
        </ul>
    </ul>
</section>